<!DOCTYPE html>
<html>
  <head>
    <title>Bookers3</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
          <%= link_to "Bookers", root_path, class: "nabar-brand" %>
          <div class="navbar-collapse collapse show" id="navbarNavDropdown" style="">
            <ul class="navbar-nav ml-auto">
              <li>
                <%= link_to root_path, class: "nav-link text-light" do %>
                  <!-- <i class="fas fa-home"></i> Font Awesome fontawesome.com --> Home
                <% end %>  
              </li>
              <li>
                <%= link_to about_path class: "nav-link text-light" do %>
                  <!-- <i class="fas fa-link"></i> Font Awesome fontawesome.com --> About
                <% end %> 
              </li>
              <li>
                <%= link_to new_user_registration_path class: "nav-link text-light" do %>
                  <!-- <i class="fas fa-user-plus"></i> Font Awesome fontawesome.com --> Sign up
                <% end %> 
              </li>
              <li>
                <%= link_to new_user_session_path class: "nav-link text-light" do %>
                  <!-- <i class="fas fa-sign-in-alt"></i> Font Awesome fontawesome.com --> Log in
                <% end>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
